# Демонстрация ко второй задаче: "Pandas и работа с данными"

## Загрузка библиотеки Pandas

In [1]:
import pandas

## Чтение данных

In [2]:
table = pandas.read_csv('weather.csv')

In [3]:
table.head()

,datetime,humidity,pressure,temperature,wind_direction,wind_speed,label
0,2015-06-28 23:00:00,60,1007,294.480,260,3,rain
1,2015-06-22 21:00:00,47,1024,301.300,297,2,clear
2,2015-06-23 00:00:00,48,1024,299.894,309,1,clear
3,2015-06-19 20:00:00,88,1023,295.710,332,2,rain
4,2015-06-20 21:00:00,97,1027,292.926,131,2,rain

## Фильтрация строчек, удовлетворяющих критерию

In [4]:
selected = table.query('wind_speed >= 2 & label == "clear" & humidity > 92')

In [5]:
selected

,datetime,humidity,pressure,temperature,wind_direction,wind_speed,label
11,2015-06-19 09:00:00,97,1020,292.763,249,2,clear
18,2015-06-22 11:00:00,96,1023,294.110,295,3,clear
30,2015-06-04 02:00:00,94,1034,285.521,136,2,clear

## Подсчет средней температуры по отфильтрованной таблице

In [6]:
selected['temperature'].mean()

290.798